
protokol/SKE_assignment_Gaj.out
protokol/SKE_assignment_Gaj.aux
protokol/SKE_assignment_Gaj.idx
protokol/SKE_assignment_Gaj.log
protokol/SKE_assignment_Gaj.synctex.gz
protokol/SKE_assignment_Gaj.toc
*.xml
*.iml
*.synctex(busy)
*.aux
protokol/SKE_assignment_Gaj.bbl
protokol/SKE_assignment_Gaj.blg
protokol/SKE_assignment_Gaj.ilg
protokol/SKE_assignment_Gaj.ind
